/**
 * Log in to site link
 */

a.hosting-goto-dblogin-link {
  background-image: url(images/icon-dblogin-32.png);
  background-repeat: no-repeat;
  padding: 8px 0 15px 35px;
  font-weight: bold;
  display: block;
}

